* {
	margin:0;
	padding:0;
}

body {
	font-family: verdana, Arial, sans-serif;
	font-size: 10pt;
    background-color:blue;
}

a:link, a:visited {
	color:black;
}

a {
	display:block;
	padding:3px;
	text-decoration:none; 
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: auto;
	border: 1px solid #ccc;
	display: block;  
	border:none;
}

ul.con_menu {
	width:auto; 
/*	margin: 0 auto; */
	margin:0px;
	border: none;
}

#layout {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
	display:block;
	width:100%;
	height:85px;
	/*background-color: black;
	background: black url('/dcoda.net/gen_rsrc/INVERT_DCBANNER_CROP_594_35.jpg') no-repeat bottom center; */
	background-color: lightblue;
	background: lightblue url('/static/images/fish_symbol.png');
}

div.center_div {
	position:relative; 
	margin: 0 auto;
	width:960px;
	height:600px;
	display:block;
	border: none;
}

div.top_menu {
	/* margin:1px auto 0;*/
	margin-top:1px;
	padding:0px;
	width:auto;
	height:3.0em; 
	border:none; 
	display:block; 
}

.top_menu ul.con_menu li.main {
	text-align:center;
}

/* !! IE 6 workaround temp js real solution !!!*/
ul.con_menu li.ie_li {
	float:left;
	display:block;
	width:165px;
        background-color: #33ccff;
/*	background-color: #c7c7c7;  */
	border: solid gray 1px; 
	font-weight:bold;
}

ul.con_menu li.ie_li li.drop a {
	width:95%;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.top_menu ul.con_menu > li {
        float:left;
        display:block;
        margin:0px;
        width:165px;
        background-color: #33ccff;
/*        background-color: #c7c7c7; */
        border: solid grey 1px;
        font-weight:bold;
}

.top_menu ul.con_menu > li:hover  {
       // background-color: #33ccff;
        background-color: azure;
/*	background-color: #d7d7d7;  */
}

.top_menu ul.con_menu li ul li  {
	padding:1px 1px 0px;
	border-bottom:1px solid #b7b7b7; 
}

.top_menu ul li ul li.drop {
	display:none; 
	padding:1px;
        background-color: #33ccff;
/*	background-color: #d7d7d7;  */
	border-bottom:1px solid #b7b7b7;  
}

.top_menu ul.con_menu > li:hover li.drop {
	display:block; 
}


.top_menu ul li ul li.drop:hover {
        //background-color: #33ccee;
        background-color: azure;
/*	background-color: #e8e8e8;  */

}

.image {
	margin:25px 0px 25px 0px;
	border:none;
	padding:0px;
}

.image a, .image a img {
	border:none;
	margin:0px;
	padding:0px;
}


div#con_box {
	width:180px; 
	float:left;
}

.services h3 {
	margin:0px;
	padding:0px;
	height:auto;
	display:block; 
	text-align:center;
}

.services h3  a { 
	margin:0px;
	padding:15px;
}

div.services {
	width: 170px;
	height:50px;
	background-color: #c7c7c7;
	border: solid 1px #8c8c8c;
	padding:0px;
	margin-bottom: 10px;
	text-align:center;
}

div.services:hover {
	background-color: #d7d7d7; 
}

div#content {
	width:450px; 
	margin-left:100px;
	float:left;
}

div#studies {
	width:630px;
	margin-left:100px;
	float:left;
	
}

div#studies div ul {
	font-size:14px;
	font-weight:bold;
	display:block;

}

div#studies div ul a {
	text-decoration:underline;
}

div#kingdom  {
	float:left;
	margin:0px 10px 0px 10px;
}
div#anointing  {
	float:left;
	margin:0px 10px 0px 10px;
}
div#hundredfold  {
	float:left;
	margin:0px 10px 0px 10px;
}

div#exact_knowledge  {
	float:left;
	margin:0px 10px 0px 10px;
}


div#uconstruct {
	float:right;
}

div#content h4 {
	margin-bottom: 10px;
	font-size: 11pt;
}

div.clear {
	clear:both;

}

div#flag {
	position:absolute;
	bottom:20px;
	left:0px;
	height:10px;
	width:100%;
	background: transparent url('/dcoda.net/gen_rsrc/flags.jpg') no-repeat bottom left;
}

div#footer {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
}

p.foot {
	text-align:center; 
}

