* {
	margin:0;
	padding:0;
}

body {
	font-family: verdana, Arial, sans-serif;
	font-size: 10pt;
}

a:link, a:visited {
	color:black;
}

a {
	display:block;
	padding:3px;
	text-decoration:none; 
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: auto;
	border: 1px solid #ccc;
	display: block;  
	border:none;
}

ul.con_menu {
	width:auto; 
/*	margin: 0 auto; */
	margin:0px;
	border: none;
}

#layout {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
	display:block;
	width:100%;
	//height:85px;
	height:55px;
	background-color: lightblue;
	background: lightblue url('/images/fish_symbol.png');
	background-size: 50% 100%;
}

div.center_div {
	position:relative; 
	margin: 0 auto;
	//width:960px;
	width:100%;
	//height:600px;
	height:auto;
	display:block;
	border: none;
}

div.top_menu {
	/* margin:1px auto 0;*/
	margin-top:1px;
	padding:0px;
	//width:auto;
	width:100%;
	height:3.0em; 
	border:none; 
	display:block; 
}

.top_menu ul.con_menu li.main {
	text-align:center;
	font-size:8pt;
}

/* !! IE 6 workaround temp js real solution !!!*/
ul.con_menu li.ie_li {
	float:left;
	display:block;
	//width:165px;
	width:100%;
        background-color: #33ccff;
/*	background-color: #c7c7c7;  */
	border: solid gray 1px; 
	font-weight:bold;
}

ul.con_menu li.ie_li li.drop a {
	width:95%;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.top_menu ul.con_menu > li {
        float:left;
        display:block;
        margin:0px;
	padding:0px;
        //width:165px;
        width:24%;
        background-color: #33ccff;
        border: solid grey 1px;
        font-weight:bold;
}

.top_menu ul.con_menu > li:hover  {
        background-color: azure;
        //background-color: #33ccff;
}

.top_menu ul.con_menu li ul li  {
	padding:1px 1px 0px;
	border-bottom:1px solid #b7b7b7; 
}

.top_menu ul li ul li.drop {
	display:none; 
	padding:1px;
        background-color: #33ccff;
	border-bottom:1px solid #b7b7b7;  
}

.top_menu ul.con_menu > li:hover li.drop {
	display:block; 
}


.top_menu ul li ul li.drop:hover {
       // background-color: #33ccee;
        background-color: azure;
/*	background-color: #e8e8e8;  */

}

.image {
	margin:25px 0px 25px 0px;
	width:auto;
	height:auto;
//	border:none;
	padding:0px;
}

div.image img {
//	margin:25px 0px 25px 0px;
	width:100%;
	height:100%;
	border:none;
	padding:0px;
}


.image a, .image a img {
	margin:0px;
	padding:0px;
	border:none;
}


div#con_box {
	//width:180px; 
	width:25%; 
	float:left;
}

.services h3 {
	margin:0px;
	padding:0px;
	height:auto;
	display:block; 
	text-align:center;
}

.services h3  a { 
	margin:0px;
	padding:15px;
}

div.services {
	width: 170px;
	height:50px;
	background-color: #c7c7c7;
	border: solid 1px #8c8c8c;
	padding:0px;
	margin-bottom: 10px;
	text-align:center;
}

div.services:hover {
	//background-color: #d7d7d7; 
	background-color: azure; 
}

div#content {
	//width:450px; 
	width:55%; 
	margin-left:10%;
	float:left;
}


div#content h4 {
	margin-bottom: 10px;
	font-size: 11pt;
}

div.clear {
	clear:both;

}

div#flag {
	position:absolute;
	bottom:20px;
	left:0px;
	height:10px;
	width:100%;
	background: transparent url('/dcoda.net/gen_rsrc/flags.jpg') no-repeat bottom left;
}

div#footer {
	//display:none;
	//position:absolute;
	//bottom:10px;
	//left:0px;
	width:100%;
	clear:both;
}

p.foot {
	text-align:center; 
}

